.cast-title p {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.view-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 10px;
  width: 116px;
  height: 42px;
  border: 1px solid #9dfe00;
  border-radius: 8px;
}

.cast-card {
  box-sizing: border-box;
  /* width: 290px;
  height: 296px; */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3.77917px);
  border-radius: 12.0933px;
}

.character-img {
  width: 258px;
  height: 216px;
  border-radius: 3.77917px;
}
